@charset "utf-8";
/* CSS Document */


#nav{position:relative;}
#nav .nav_con .shouye{background:#90c31f;}
#nav .nav_con .shouye:hover{background:#77b001;}
#nav .nav_con .caitong{background:#77b001;}
#nav .banner_con{display:none;position:absolute;left:50%;margin-left:-595px;top:35px;z-index:7000;}


/*banner图*/
#banner{height:500px;width:100%;}
.mt_banner .banner_ul{float:left;width:100%;height:500px;position:relative;overflow:hidden;}
.mt_banner .banner_ul li{width:100%;position:absolute;left:0;top:0;}
.mt_banner .banner_ul li img{position:absolute;top:0;left:50%;margin-left:-960px;}
.mt_banner .banner_ul>span{display:none;width:40px;height:100px;opacity:0.6;position:absolute;top:50%;margin-top:-50px;z-index:600;cursor:pointer;}
.mt_banner .banner_ul .prev{left:50%;margin-left:-595px;background:url(../images/previous.png) no-repeat -30px 0;}
.mt_banner .banner_ul .next{right:50%;margin-right:-595px;background:url(../images/next.png) no-repeat -30px 0;}
.mt_banner .banner_ul .dot_box{width:100%;height:18px;position:absolute;left:0;bottom:11px;text-align:center;z-index:9999;}
.mt_banner .banner_ul .dot_box span{display:inline-block;width:18px;height:18px;border-radius:50%;background:#333;line-height:18px;text-align:center;margin-right:8px;color:#fff;font-size:12px;cursor:pointer;}
.mt_banner .banner_ul .dot_box span.active{background:#90c31f;}


/*产品列表*/

/*内容1*/
.list_top{height:500px;margin-top:20px;}
.list_top ul li{width:383px;height:220px;margin:0 20px 20px 0;float:left;}
.list_top ul li.clearMargin{margin-right:0;}
/*热销排行标题*/
.distribution_title{height:120px;margin-top:10px;background:url(../images/mtImg/banner1.png) no-repeat;}
/*热销产品*/
.distribution_pro{width:1190px;border:solid #dcdcdc;border-width:1px 0 0 1px;}
.distribution_pro li{float:left;width:237px;height:343px;border:solid #dcdcdc;border-width:0 1px 1px 0;background-color:#fff;overflow:hidden;text-align:center;-webkit-transition: all 0.3s linear;position:relative;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;}
.distribution_pro li:hover{box-shadow:0 0 10px rgba(0,0,0,0.6);z-index:10}
.distribution_pro li img{display:inline-block;}
.distribution_pro li>span{display:block;width:100%;font-size:12px;color:#fc82b3}
.distribution_pro li p{width:100%;font-size:12px;color:#666;}
.distribution_pro li b{display:block;font-size:12px;color:#000;margin-top:18px;}
.distribution_pro li b span{font-size:26px;color:#000;}

/*人气title*/
.popular_title{height:120px;margin-top:10px;background:url(../images/mtImg/banner2.png) no-repeat;}

/*人气推荐产品*/
.popular_pro{width:1200px;min-height:1850px;_height:1850px;}
.popular_pro li{float:left;width:290px;height:540px;margin:45px 10px 0 0px;text-align:center;-webkit-transition: all 0.3s linear;position:relative;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;}
.popular_pro li:hover{box-shadow:0 0 10px rgba(0,0,0,0.6);
transform:translateY(-4px);
-ms-transform:translateY(-4px); 	/* IE 9 */
-moz-transform:translateY(-4px); 	/* Firefox */
-webkit-transform:translateY(-4px); /* Safari 和 Chrome */
-o-transform:translateY(-4px); 	/* Opera */
}
.popular_pro li img{display:inline-block;}
.popular_pro li p{width:100%;font-size:12px;color:#333;}
.popular_pro li span{display:block;width:100%;font-size:12px;color:#fc82b3;margin:3px 0;}
.popular_pro li b{display:block;width:100%;font-size:26px;color:#333;}



